<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partial/head") %>
</head>

<body>
    <%- include("./partial/navbar") %>
        <%- include("./ads/1") %>
            <div class="flex-grow container mx-auto mb-12">

                <section class="p-6 text-black rounded-lg m-3 text-lg">
                    <h1 class="text-3xl font-bold text-center">About Us</h1>

                    <p class="my-3">
                        Welcome to <b>gameonn.top!</b>
                    </p>

                    <p class="my-3">
                        At gameonn.top, we are dedicated to providing top-quality educational resources and programs to
                        help students and professionals achieve their academic and career goals. Our mission is to
                        create a supportive and enriching learning environment that fosters growth and success.
                    </p>

                    <h6 class="font-bold">Our Story</h6>
                    <p class="my-2">
                        Founded in 2024, gameonn.top was established to bridge the gap between traditional education and
                        modern learning needs. We believe in the power of education to transform lives and are committed
                        to making high-quality learning accessible to all.
                    </p>

                    <h6 class="font-bold">Our Team</h6>
                    <p class="my-2">
                        Our team consists of experienced educators, industry professionals, and technologists who work
                        collaboratively to design and deliver exceptional learning experiences. We are passionate about
                        education and dedicated to supporting our learners.
                    </p>

                    <h6 class="font-bold">Our Services</h6>
                    <ul class="list-disc mx-3 space-y-1 list-inside">
                        <li class="my-2">
                            <b>Online Courses:</b> A wide range of courses designed to meet the needs of students and
                            professionals.
                        </li>
                        <li class="my-2">
                            <b>Certification Programs:</b> Accredited programs to help learners gain industry-recognized
                            qualifications.
                        </li>
                        <li class="my-2">
                            <b>Support Services:</b> Comprehensive support services to assist learners throughout their
                            educational journey.
                        </li>
                    </ul>

                    <h6 class="font-bold">Get In Touch</h6>
                    <p class="my-2">
                        We love hearing from our community! If you have any questions, feedback, or just want to chat
                        about education, feel free to reach out to us at <a href="mailto:contact@gameonn.top"
                            class="text-blue-600 underline hover:text-blue-800">contact@gameonn.top</a>.
                    </p>

                    <p class="my-2">
                        Thank you for choosing gameonn.top as your educational partner. We are committed to helping you
                        achieve your goals.
                    </p>
                </section>

            </div>
            <%- include("./ads/8") %>
                <%- include("./partial/footer") %>
</body>

</html>